root = true

[*]
    charset = utf-8
    end_of_line = lf
    insert_final_newline = true
    trim_trailing_whitespace = true
    indent_style = space
    indent_size = 2

[*.zsh]
    indent_style = space
    indent_size = 2

[*.{sh,bash,ksh}]
    indent_style = space
    indent_size = 2

[.env]
    indent_style = space
    indent_size = 2

[{.zshrc,.zprofile,.zlogin,.zlogout,.zshenv,.bashrc,.bash_profile,.profile,.aliases,.functions}]
    indent_style = space
    indent_size = 2

[*.md]
    trim_trailing_whitespace = false
    insert_final_newline = true

[*.y{a,}ml]
    indent_style = space
    indent_size = 2

[*.json]
    indent_style = space
    indent_size = 2

[Makefile]
    indent_style = tab

[*.gitconfig]
    indent_style = space
    indent_size = 2

[*.{patch,diff}]
    trim_trailing_whitespace = false

[*.editorconfig]
    indent_style = space
    indent_size = 2
